In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=be604005979c1532fc0c7ab2fa2caa229b3524ac6c3b880b975537b4b021616c
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [3]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [4]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
spark.sparkContext.addFile(url)
home_sales_df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)
home_sales_df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [5]:
# 2. Create a temporary view of the DataFrame.

home_sales_df.createOrReplaceTempView('home_sales')

In [6]:
# 3. What is the average price for a four bedroom house sold in each year rounded to two decimal places?
spark.sql("""select Round(Avg(price),2) as average_price ,date_built  from home_sales where bedrooms=4 group by date_built order by date_built desc""").show()

+-------------+----------+
|average_price|date_built|
+-------------+----------+
|    296576.69|      2017|
|    296050.24|      2016|
|    307908.86|      2015|
|    299073.89|      2014|
|    299999.39|      2013|
|    298233.42|      2012|
|     302141.9|      2011|
|    296800.75|      2010|
+-------------+----------+

In [7]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?
spark.sql("""select Round(Avg(price),2) as average_price ,date_built  from home_sales where bedrooms=3 and bathrooms=3 group by date_built order by date_built desc""").show()

+-------------+----------+
|average_price|date_built|
+-------------+----------+
|    292676.79|      2017|
|    290555.07|      2016|
|     288770.3|      2015|
|    290852.27|      2014|
|    295962.27|      2013|
|    293683.19|      2012|
|    291117.47|      2011|
|    292859.62|      2010|
+-------------+----------+

In [8]:
#  5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?
spark.sql("""select Round(Avg(price),2) as average_price ,
date_built
from home_sales
where bedrooms=3 and bathrooms=3 and floors=2 and sqft_lot>=2000
group by date_built
order by date_built desc""").show()

+-------------+----------+
|average_price|date_built|
+-------------+----------+
|    282026.59|      2017|
|     287812.6|      2016|
|    291788.36|      2015|
|    294195.13|      2014|
|    295142.13|      2013|
|    295858.68|      2012|
|    281413.45|      2011|
|    280447.23|      2010|
+-------------+----------+

In [9]:
# 6. What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than
# or equal to $350,000? Although this is a small dataset, determine the run time for this query.

start_time = time.time()

spark.sql("""select view,Round(Avg(price),2) as average_price ,
date_built
from home_sales
where price >= 350000
group by date_built,view
order by date_built desc""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+----------+
|view|average_price|date_built|
+----+-------------+----------+
|  80|    1121072.2|      2017|
|  60|    823721.83|      2017|
|   1|    392578.58|      2017|
|  37|    396466.19|      2017|
|  84|     968260.5|      2017|
|  58|     660556.0|      2017|
|  29|     402341.0|      2017|
|  57|     732720.0|      2017|
|  45|     404400.3|      2017|
|  27|    398848.38|      2017|
|  74|     750350.0|      2017|
|   4|     397640.1|      2017|
|  42|    396225.38|      2017|
|  30|     394784.0|      2017|
|  35|    403808.04|      2017|
|  65|     665755.0|      2017|
|  12|    409095.89|      2017|
|   7|    405994.28|      2017|
|  33|    394572.64|      2017|
|  97|   1401221.67|      2017|
+----+-------------+----------+
only showing top 20 rows

--- 1.302978515625 seconds ---

In [12]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table home_sales")

DataFrame[]

In [13]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [14]:
# 9. Using the cached data, run the query that filters out the view ratings with average price
#  greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

start_time = time.time()

spark.sql("""select view,Round(Avg(price),2) as average_price ,
date_built
from home_sales
where price >= 350000
group by date_built,view
order by date_built desc""").show()


print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+----------+
|view|average_price|date_built|
+----+-------------+----------+
|  80|    1121072.2|      2017|
|  60|    823721.83|      2017|
|   1|    392578.58|      2017|
|  37|    396466.19|      2017|
|  84|     968260.5|      2017|
|  58|     660556.0|      2017|
|  29|     402341.0|      2017|
|  57|     732720.0|      2017|
|  45|     404400.3|      2017|
|  27|    398848.38|      2017|
|  74|     750350.0|      2017|
|   4|     397640.1|      2017|
|  42|    396225.38|      2017|
|  30|     394784.0|      2017|
|  35|    403808.04|      2017|
|  65|     665755.0|      2017|
|  12|    409095.89|      2017|
|   7|    405994.28|      2017|
|  33|    394572.64|      2017|
|  97|   1401221.67|      2017|
+----+-------------+----------+
only showing top 20 rows

--- 0.5897006988525391 seconds ---

In [15]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
home_sales_df.write.partitionBy("date_built").mode("overwrite").parquet("P_home_sales")

In [16]:
# 11. Read the formatted parquet data.
p_home_sales_df=spark.read.parquet('P_home_sales')

In [17]:
# 12. Create a temporary table for the parquet data.
p_home_sales_df.createOrReplaceTempView('p_temp_home_sales')

In [18]:
# 13. Run the query that filters out the view ratings with average price of greater than or eqaul to $350,000
# with the parquet DataFrame. Round your average to two decimal places.
# Determine the runtime and compare it to the cached version.

start_time = time.time()

spark.sql("""select view,Round(Avg(price),2) as average_price ,
date_built
from p_temp_home_sales
where price >= 350000
group by date_built,view
order by date_built desc""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+----------+
|view|average_price|date_built|
+----+-------------+----------+
|  52|    683532.67|      2017|
|   6|    405027.78|      2017|
|   4|     397640.1|      2017|
|  74|     750350.0|      2017|
|  98|     840627.0|      2017|
|  46|    401401.35|      2017|
|  27|    398848.38|      2017|
|  10|     405424.0|      2017|
|  76|    1147889.0|      2017|
|  79|     954535.0|      2017|
|  47|    398430.73|      2017|
|  66|     563183.0|      2017|
|  13|    405747.84|      2017|
|  99|    1107391.0|      2017|
|  45|     404400.3|      2017|
|  48|     401528.5|      2017|
|  73|     600209.0|      2017|
|  96|     705596.0|      2017|
|  20|    395093.88|      2017|
|  56|    819517.33|      2017|
+----+-------------+----------+
only showing top 20 rows

--- 1.1294052600860596 seconds ---

In [19]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table home_sales")

DataFrame[]

In [20]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached("home_sales")

False